*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.box{
  margin: 50px auto 0 auto;
  width: 400px;
  display: flex;
  flex-direction: column;
}
input{
  height: 40px;
  margin-bottom: 16px;
  width: 100%;
  padding: 6px 12px;
  color: #353535;
  border: 1px solid rgb(4, 129, 0);
  outline-color: rgb(3, 83, 0);
}
.box-inner{
  width: 100%;
  background-color: #cecece;
}
.box-inner div{
  width: 0%;
  background: linear-gradient(90deg, rgba(255,255,33,1) 0%, rgba(90,255,50,1) 6%, rgba(239,245,41,1) 10%, rgba(163,233,71,1) 16%, rgba(81,240,38,1) 20%, rgba(246,249,0,1) 31%, rgba(141,249,0,1) 37%, rgba(246,249,0,1) 46%, rgba(141,249,0,1) 54%, rgba(246,249,0,1) 61%, rgba(141,249,0,1) 67%, rgba(246,249,0,1) 72%, rgba(141,249,0,1) 78%, rgba(246,249,0,1) 83%, rgba(199,249,0,1) 87%, rgba(141,249,0,1) 92%, rgba(246,249,0,1) 96%);
  height: 7px;
}
label{
  margin-bottom: 16px;
  color:  #353535;
  font-size: 20px;
}
textarea{
  width: 100%;
  margin-bottom: 16px;
  outline-color: rgb(3, 83, 0);
}